a.inline-block.text-red-500.text-xs.font-bold.mt-1.text-center.uppercase {
    display: none !important;
}
svg.h-6 {
    height: 3.5rem !important;
    margin-left: -450px !important;
}

svg.h-8 {
    height: 4rem !important;
}
